{% load static %}

<body data-spy="scroll" data-target="#navbar-example">

    <div id="preloader"></div>

    <header>
        <!-- header-area start -->
        <div id="sticker" class="header-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">

                        <!-- Navigation -->
                        <nav class="navbar navbar-default">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                    data-target=".bs-example-navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>

                                <a class="navbar-brand page-scroll sticky-logo" href="{% url 'index' %}">
                                     <img style="width: auto; height: 50px;"
                                        src="{% static 'img/web/Screenshot 2023-12-10 000124.png' %}"> 
                                    <!-- <h1><span>Tech</span>Nova</h1> -->
                                </a>
                            </div>
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse main-menu bs-example-navbar-collapse-1"
                                id="navbar-example">
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="active">
                                        <a class="page-scroll" href="#home">الرئيسية</a>
                                    </li>
                                    <li>
                                        <a class="page-scroll" href="#about">عن الشركة</a>
                                    </li>
                                    <li>
                                        <a class="page-scroll" href="#services">الخدمات</a>
                                    </li>
                                    <!-- <li>
                                        <a class="page-scroll" href="{% url 'us' %}">من نحن</a>
                                    </li>
                                    <li>
                                        <a class="page-scroll" href="{% url 'abut' %}"> عنا</a>
                                    </li> -->
                                    <li>
                                        <a class="page-scroll" href="#team">الفريق</a>
                                    </li>
                                    <li>
                                        <a class="page-scroll" href="#portfolio">أعمالنا</a>
                                    </li>

                                    <!-- <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Drop
                                            Down<span class="caret"></span></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href=#>الوظائف في الشركة</a></li>
                                            <li><a href=#>Drop Down 2</a></li>
                                        </ul>
                                    </li> -->

                                    <li>
                                        <a class="page-scroll" href="{% url 'blog' %}">مدونة</a>
                                    </li>
                                    <li>
                                        <a class="page-scroll" href="#contact">تواصل بنا</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- navbar-collapse -->
                        </nav>
                        <!-- END: Navigation -->
                    </div>
                </div>
            </div>
        </div>
        <!-- header-area end -->
    </header>
    <!-- header end -->