{% extends "base/main.html" %}
{% load static %}
{% block content %}
<br><br><br>
<!-- Start Banner Hero -->
<section class="bg-light w-100 h6">
    <div class="container">
        <div class="row d-flex align-items-center py-5">
            <div class="col-lg-6 text-start">
                <h1 class="h2 py-5 text-primary typo-space-line">عن الموقع</h1>
                <p class="light-300 ">
                    موقعنا هو مصدرك الموثوق والشامل للحصول على المعلومات حول الجامعات والكليات والمعاهد. نقدم لك معلومات
                    دقيقة وشاملة عن كل مؤسسة تعليمية، بما في ذلك التخصصات المتاحة، ومتطلبات القبول، والمناهج الدراسية،
                    وتقييمات الطلاب السابقين.

                    بالإضافة إلى ذلك، نحرص على توفير ميزة تخفيض خاصة للمستخدمين الذين يسجلون عبر الموقع. فعندما تقوم
                    بالتسجيل وتثبيت اشتراكك في أي مؤسسة تعليمية من خلالنا، ستحصل على تخفيض 5% من الرسوم الدراسية. هذا
                    يعني أننا نساعدك على تحقيق توفير مالي قيم أثناء متابعة تعليمك العالي.

                    يعتبر موقعنا مرجعًا مهمًا للطلاب الذين يبحثون عن التعليم الجامعي والدراسات العليا. فنحن نهدف إلى
                    تسهيل عملية اختيار المؤسسة التعليمية المناسبة لك، وتوفير المعلومات اللازمة لاتخاذ قرار مستنير
                    ومناسب.

                    لا تتردد في استخدام موقعنا والاستفادة من خدماتنا المتعددة لتحقيق أحلامك التعليمية بأفضل الشروط
                    والتوفير المالي.
                </p>
            </div>
            <div class="col-lg-6">
                <img src="{% static 'img/banner-img-02.svg'%}">
            </div>
        </div>
    </div>
</section>
<!-- End Banner Hero -->


<section class="why-us banner-bg bg-light h6">
    <div class="container my-4">
        <div class="row">
            <div class="banner-img col-lg-5">
                <img src="{% static 'img/work.svg'%}" class="rounded img-fluid" alt="">
            </div>
            <div class="banner-content col-lg-7 align-self-end">
                <h4 class=" pb-3">لماذا تختارنا؟</h4>
                <p class="text-muted pb-5 light-300 h5">
                    مصداقية وموثوقية المعلومات: يحرص الموقع على جمع المعلومات من مصادر موثوقة وتحديثها بانتظام،
                    مما يعطي الزوار ثقة في صحة ودقة المعلومات المقدمة
                    <br>
                    شمولية الموقع: يقدم الموقع معلومات شاملة تشمل مختلف المؤسسات التعليمية،
                    بما في ذلك الجامعات والكليات والمعاهد في مختلف البلدان.
                    هذا يتيح للمستخدمين الوصول إلى مجموعة واسعة من الخيارات والتحقق من المؤسسة التي تناسب احتياجاتهم
                    التعليمية. <br>
            </div>
        </div>
    </div>
</section>
<!-- End Choice -->

<!-- Start Aim -->
<section class="banner-bg bg-white py-5 h6">
    <div class="container my-4">
        <div class="row text-center">

            <div class="objective col-lg-4">
                <div class="objective-icon card m-auto py-4 mb-2 mb-sm-4 bg-secondary shadow-lg">
                    <i class="display-4 bx bxs-bulb text-light"></i>
                </div>
                <h4 class="objective-heading  mb-2 mb-sm-4 light-300">Our Vision</h4>
                <p class="light-300">
                    Incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse commodo viverra.
                </p>
            </div>

            <div class="objective col-lg-4 mt-sm-0 mt-4">
                <div class="objective-icon card m-auto py-4 mb-2 mb-sm-4 bg-secondary shadow-lg">
                    <i class='display-4 bx bx-revision text-light'></i>
                </div>
                <h4 class="objective-heading  mb-2 mb-sm-4 light-300">Our Mission</h4>
                <p class="light-300">
                    Eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam quis.
                </p>
            </div>

            <div class="objective col-lg-4 mt-sm-0 mt-4 h6">
                <div class="objective-icon card m-auto py-4 mb-2 mb-sm-4 bg-secondary shadow-lg">
                    <i class="display-4 bx bxs-select-multiple text-light"></i>
                </div>
                <h4 class="objective-heading  mb-2 mb-sm-4 light-300">Our Goal</h4>
                <p class="light-300">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor.
                </p>
            </div>

        </div>
    </div>
</section>
<!-- End Aim -->

<!-- Start Contact -->

<!-- End Contact -->




{% endblock %}